@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{  
    background: blueviolet;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    font-size: 10vh;
    padding-top: 10px;
    font-size: 5em;
}
.conteudo{

    position: absolute;
    width: 100%;
    top: 50%;
}
#img1{
    background-image: url('https://img.elo7.com.br/product/original/2A1B178/fundo-fotografico-em-tecido-lampadas-horizontal-2-20x1-50m-cenario-3d.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}